@charset "utf-8"; 

#slideWrap {position: relative; margin: 0 auto; overflow: hidden; width: 100% }
.slide {width: 1000000px }
.slide {transition: margin-left 0.2s ease-out; -moz-transition: margin-left 0.2s ease-out; -webkit-transition: margin-left 0.2s ease-out; -o-transition: margin-left 0.2s ease-out }
.slide li {position: relative; float: left; margin: 0 auto }
.slide li img {width: 100% }

.slideBtn {position: absolute; top: 50%; left: 0; margin-top: -25px; width: 100%; height: 50px; text-align: center }
.slideBtn p {position: absolute; top: 0; width: 50px; height: 50px; line-height: 50px; vertical-align: middle; border-radius: 25px 25px; background-color: #e27575 }
.slideBtn p a {display: block; width: 100%; height: 100%; font-size: 25px; color: #fff }
.slideBtn p:hover { background-color:#ea67b2 }
.slideBtn .btn_l {left: 0 }
.slideBtn .btn_r {right: 0 }

.autoBtn { position: absolute; bottom: 0; left: 0 }
.autoBtn p { float: left; margin-right: 10px; width: 30px; height: 30px; line-height: 30px; text-align: center; background-color: #8b1549 }
.autoBtn p a { display: block; width: 100%; height: 100%; color: #fff }
.autoBtn p:hover, .autoBtn p.on { font-weight: bold; background-color: #d86296 }

.paging {width: 100%; height: 20px; margin-top: 20px; text-align: center }
.paging ul {display: inline-block; width: auto }
.paging li {width: 20px; height: 20px; float: left; margin: 0 5px; border-radius: 10px 10px; background-color: #ccc }
.paging li:hover , .paging li.choice {background-color: #234563 }
.paging li a {display: block; width: 100%; height: 100% }
 {content: ""; display: block; clear: both }

.slide:after, .paging ul:after {content: ""; display: block; clear: both }
.slideBtn p, .autoBtn p, .paging li { transition: background-color 0.5s ease-out; -moz-transition: background-color 0.5s ease-out; -webkit-transition: background-color 0.5s ease-out; -o-transition: background-color 0.5s ease-out }